<div class="app-container">
  <header>
    <div class="gnb-service-name">
      <h1><a href="javascript:location.reload()"><%= title %></a></h1>
      <h4><%= subTitle %></h4>
    </div>
    <div class="gnb-search-bar">
      <input class="gnb-input-box" type="text" placeholder='<%= inputBoxPlaceholder %>' gorilla-keypress="handleInputKeypress">
      <button class="gnb-btn-search" type="submit" gorilla-click="handleSearchClick">GO</button>
    </div>
  </header>
  <%= contents %>
  <button class="btn-upward hidden" gorilla-click="handleUpwardClick"><img src="assets/images/btn_upward.png"></button>
  <footer>
    <span>Any questions ? &nbsp;&nbsp;<%= contact %></span>
  </footer>
</div>
