<div class="content_container">
  <div class="container_left">
    <img src="<%= image %>">
  </div>
  <div class="container_right">
    <div class="container_right_left">
      <h1 class="content_title" gorilla-mouseover="handleMouseover"><%= title %></h1>
      <h4 class="content_subtitle" gorilla-click="handleClick"><%= subTitle %></h4>
      <%= baby %>
    </div>
    <div class="container_right_right">
      <span class="content_price">
        <%= price %>
      </span>
    </div>
  </div>
</div>
