<div class="content_main">
  <p class="content_author" gorilla-click="whatAreYou"><%= name %> | <%= publisher %> | <%= date %> | <a href="<%= url %>" class="content_url"><%= url %></a></p>
  <p class="content_description"><%= description %></p>
  <%= grandBaby %>
</div>