<div class="content-container">
  <div class="content-header">
    <p class="content-header-result">
      <span><%= totalCount %></span>&nbsp;&nbsp;results for&nbsp;
      <span>"<%= keyword %>"</span>
    </p>
    <div class="select-view-wrapper" gorilla-click="selectView">
      <img class="btn-list-view <% if (viewType === 'list') { %> selected <% } %>" src="/assets/images/btn_list_type.png" data-view="list">
      <img class="btn-card-view <% if (viewType === 'card') { %> selected <% } %>" src="/assets/images/btn_card_type.png" data-view="card">
    </div>
  </div>
  <div class="select-sort-wrapper" gorilla-click="selectSort">
    <button class="btn-sort-similar <% if (sortType === 'sim') { %> selected <% } %>" data-sort="sim">Search Similarity</button>
    <span class="space-between">|</span>
    <button class="btn-sort-new <% if (sortType === 'date') { %> selected <% } %>" data-sort="date">Newest Arrivals</button>
    <span class="space-between">|</span>
    <button class="btn-sort-count <% if (sortType === 'count') { %> selected <% } %>" data-sort="count">Featured</button>
  </div>
  <% if (viewType === 'list') { %>
    <div class="list-content-area">
      <% if (contentsData.length) { %>
        <% contentsData.forEach(function(item) { %>
          <div class="list-content-container">
            <div class="list-left-box">
              <a href="<%= item.link %>">
                <img src="<%= item.image %>" onerror="event.currentTarget.src='/assets/images/replace_img.jpg'">
              </a>
            </div>
            <div class="list-right-box">
              <a href="<%= item.link %>">
                <h1 class="list-content-title"><%= item.title %></h1>
              </a>
              <p class="list-content-subtitle"><%= item.subTitle %></p>
              <div class="list-content-wrapper">
                <p class="list-content-author">
                  <%= item.author %> | <%= item.publisher %> | <%= item.pubdate %> | 
                  <a class="list-content-url" href="<%= item.link %>"><%= item.link %></a>
                </p>
                <p class="list-content-description"><%= item.description %></p>
                <p class="list-content-price-wrapper">
                  <span>구매</span>
                  <a href="<%= item.link %>"><span class="list-content-discount"><%= item.discount %></span></a>
                  <span class="list-content-price"><%= item.price %></span>
                </p>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <div class="no-content-container">
          검색결과가 없습니다.
        </div>
      <% } %>
    </div>
  <% } else { %>
    <div class="card-content-area">
      <% if (contentsData.length) { %>
        <% contentsData.forEach(function(item){ %>
          <div class="card-content-container">
            <div class="card-top-box">
              <a href="<%= item.link %>">
                <img src="<%= item.image %>" onerror="event.currentTarget.src='/assets/images/replace_img.jpg'" gorilla-mouseover="hoverImageIn">
                <p class="card-content-description hidden" gorilla-mouseout="hoverImageOut"><%= item.description %></p>
              </a>
            </div>
            <div class="card-bottom-box">
              <h1 class="card-content-title"><%= item.title %></h1>
              <div class="card-content-wrapper">
                <p class="card-content-author"><%= item.author %></p>
                <p class="card-content-author"><%= item.pubdate %></p>
                <p class="card-content-price-wrapper">
                  <span>구매</span>
                  <a href="<%= item.link %>"><span class="card-content-discount"><%= item.discount %></span></a>
                </p>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <div class="no-content-container">
            검색결과가 없습니다.
        </div>
      <% } %>
    </div>
  <% } %>
</div>
